#features .row {
  padding-bottom: 32px;
  margin-bottom: 64px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}
#features .row .col {
  padding: 10px;
}

#hosting .hosting-grid {
  margin-top: 104px;
  text-align: center;
}

#hosting {
  text-align: center;
}

#hosting p {
  color: rgba(0, 0, 0, 0.5);
}

#post-list #posts {
  text-align: left;
}

figure img {
  border: 10px solid gainsboro;
}

#top-brand a {
  font-size: 28px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
}

#top {
  margin: auto;
  max-width: 1128px;
}

#top-nav-main {
  text-transform: uppercase;
}

#features {
    text-align: center;
}