/* HEADER */

header #top {
  margin: auto;
  max-width: 1128px;
}

header .logo {
  width: 40px;
  vertical-align: middle;
}

header #top-nav-main a {
  text-transform: uppercase;
  font-size: 12px;
}

header #top-brand a {
  font-size: 28px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  line-height: 50px;
}

header #top-brand span {
  vertical-align: middle;
}

/* FOOTER */

#footer {
  margin: auto;
  max-width: 1128px;
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

#footer nav ul {
  text-align: center;
  display: block;
}

@media (min-width: 767px) {
  #footer nav ul li {
    float: left;
  }
}

/* HOSTING */

#hosting .hosting-grid {
  text-align: center;
}

#hosting .option {
  box-shadow: 0 5px 15px rgba(39, 40, 44, 0.15);
  padding: 20px;
}

#hosting .option .header {
  border-bottom: 1px solid rgba(39, 40, 44, 0.15);
}

#hosting .option .description {
  padding: 10px 0px;
  min-height: 120px;
}

/* OTHERS */

#features {
  text-align: center;
}

.grid {
  text-align: center;
}
.grid .row {
  padding-bottom: 32px;
  margin-bottom: 64px;
}
.grid .row .col {
  padding: 10px;
}
.grid .row .col p {
  color: rgba(0, 0, 0, 0.5);
}

#post-list #posts {
  text-align: left;
}

figure img {
  border: 10px solid gainsboro;
}

/* FEATURES */

#features .text {
  text-align: left;
  padding-right: 20px;
}

#features .col img {
  -webkit-box-shadow: 0 10px 10px 0 #cfcfcf;
  -o-box-shadow: 0 10px 10px 0 #cfcfcf;
  box-shadow: 0 10px 10px 0 #cfcfcf;
}

/* PRIVACY POLICY */

#privacy {
  margin: 24px;
}

#privacy h1 {
  font-size: 34px;
  line-height: 72px;
  font-weight: 900;
}

/* BLOG */

.blogpost #hero h1 {
  font-size: 48px;
  line-height: 60px;
}

#posts time {
  float: right;
}

#posts h6 {
  font-size: 14px;
  color: #1eabf2;
  font-weight: normal;
  border-bottom: 1px solid gainsboro;
}

#posts h6 a {
  text-decoration: none;
}

#posts h6 a:hover{
  text-decoration: underline;
}