section {
  padding: 5em 0;
}

.cover .btn {
  min-width: 150px;
  padding-left: 0em;
  padding-right: 0em;
}

.cover .actions {
  margin-top: 0 !important;
}

.cover .actions > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

header .bar .logo {
  max-height: 2.3em;
}

header .bar a:hover {
  text-decoration: none;
}

header .bar .logo-title {
  font-size: 28px;
  color: #000;
  vertical-align: bottom;
}

img.screenshot,
.blog-single figure img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

i.icon--lg svg {
  height: 84px;
  width: 84px;
}

.pricing .month {
  font-size: 0.7em;
}

.pricing .star {
  font-size: 0.5em;
  color: #666666;
}

.pricing .unchecked {
  display: inline-block;
  position: relative;
  width: 1.23809524em;
  height: 1.23809524em;
  border-radius: 50%;
  text-align: center;
  margin-right: 13px;
}

.pricing ul li .unchecked + span {
  position: relative;
  bottom: 3px;
}

.pricing .unchecked:before {
  content: '\2717';
  color: #fff;
  font-size: 11px;
  position: absolute;
  width: 100%;
  left: 0;
  top: -4px;
}

.pricing-1 ul {
  margin-bottom: 1em;
}

/*
Documentation
*/

.docs-single .main-container ul,
.docs-single .main-container ol {
  margin-left: 2em;
}

.docs-single .main-container ul li,
.docs-single .main-container ol li {
  margin-bottom: 0;
}

.docs-single .main-container ul li {
  list-style-type: circle;
}