{{ define "header"}}
{{ partial "primary-header.html" . }}
{{ end }}

{{ define "footer"}}
{{ partial "primary-footer.html" . }}
{{ end }}

{{ define "main"}}
<main class="blog-single">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <article>
            <div class="article__title text-center">
              <h1>{{ .Title }}</h1>
              <p>{{ .Description }}</p>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
              <hr />
            </div>
            <div class="article__body">
              {{ .Content }}
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}