
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/logo-100x100.png" >
    <title>{{ .Title }} · {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Description }}">
    
    {{ if .Params.canonicalUrl }}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{ end }}

    <meta property="og:title" content="{{ .Title }} · {{ .Site.Title }}">
    <meta property="og:image" content="https://getfider.com/images/logo-small.png">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://getfider.com/" />
    <meta property="og:description" content="{{ .Description }}">

    {{ if not (in (.Site.BaseURL | string) "localhost") }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
    {{ $font := resources.Get "font.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $font.RelPermalink }}" integrity="{{ $font.Data.Integrity }}" media="screen">  
    {{ $fider := resources.Get "fider.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $fider.RelPermalink }}" integrity="{{ $fider.Data.Integrity }}" media="screen">  
  </head>

  <body>
    {{ block "header" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {{ $fider := resources.Get "fider.js" | minify | fingerprint }}
    <script src="{{ $fider.RelPermalink }}" integrity="{{ $fider.Data.Integrity }}"></script>
  </body>
</html>
