.blog-list {
  article {
    margin-bottom: 40px;
    h3 {
      font-size: 18px;
    }
  }
  .container {
    max-width: 800px;
    justify-content: center;
  }
}

.blog-single {
  .header {
    text-align: center;
  }
  figure {
    text-align: left;
    img {
      border-radius: 6px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
  }
  .container {
    max-width: 800px;
    justify-content: center;
  }
}