$black: #323648;
$white: #FFFFFF;
$gray: #6d6f7b;
$color1: #408Af8;
$color2: #3ECF8E;
$color3: #f6f9fc;
$color4: #6B7C93;
$color5: #6772E5;

// Queries
$md-width: 769px;
$lg-width: 1088px;
$wide-width: 1280px;

@mixin media($media) {
  @if $media == "mobile" {
    @media only screen and (max-width: #{$md-width - 1px}) { 
      @content; 
    }
  }
  @else if $media == "tablet" {
    @media only screen and (min-width: $md-width) and (max-width: #{$lg-width - 1px}) { 
      @content; 
    }
  }
  @else if $media == "<desktop" {
    @media only screen and (max-width: #{$lg-width - 1px}) { 
      @content; 
    }
  }
  @else if $media == "desktop" {
    @media only screen and (min-width: $lg-width) { 
      @content; 
    }
  }
  @else if $media == "<wide" {
    @media only screen and (max-width: #{$wide-width - 1px}) { 
      @content; 
    }
  }
  @else if $media == "wide" {
    @media only screen and (min-width: $lg-width) and (min-width: $wide-width) { 
      @content; 
    }
  }
}