<footer class="text-center-xs space--xs bg--dark ">
    <div class="container">
        <div class="row">
          <div class="col-md-7">
            <ul class="list-inline">
              <li>
                <a href="/blog"><span class="h6 type--uppercase">Blog</span></a>
              </li>
              <li>
                <a href="/docs"><span class="h6 type--uppercase">Docs</span></a>
              </li>
              <li>
                <a href="https://status.fider.io/" target="_blank">
                  <span class="h6 type--uppercase">Status</span>
                </a>
              </li>
              <li>
                <a href="https://feedback.fider.io/" target="_blank">
                  <span class="h6 type--uppercase">Feedback</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-5 text-right text-center-xs">
            <ul class="social-list list-inline list--hover">
              <li>
                <a href="https://github.com/getfider" target="_blank">
                  <i class="socicon socicon-github icon icon--xs"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/getfider" target="_blank">
                  <i class="socicon socicon-twitter icon icon--xs"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <span class="type--fine-print">
              <span class="update-year">2018</span> Fider
            </span>
          </div>
          <div class="col-md-5 text-right text-center-xs">
            <a class="type--fine-print" href="mailto:contact@fider.io">contact@fider.io</a>
          </div>
        </div>
    </div>
</footer>