<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="logo" alt="logo" src="/images/logo-100x100.png">
          <span class="logo-title">Fider</span>
        </a>
    
        <a id="site-burger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div class="navbar-menu">
        <div class="navbar-start">
        </div>
    
        <div class="navbar-end">
          <a class="navbar-item" href="/blog">Blog</a>
          <a class="navbar-item" href="/docs">Documentation</a>
          <div class="navbar-item">
            <div class="buttons">
              <a href="#start" class="button is-primary">
                <strong>Get Started</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>