<footer class="footer">
  <div class="container">
    <div class="navbar">
      <div class="navbar-start">
        <a href="/" class="navbar-item"><strong>Fider</strong></a>
        <a href="/blog" class="navbar-item">Blog</a>
        <a href="/documentation" class="navbar-item">Documentation</a>
        <a href="https://status.fider.io/" class="navbar-item">Status</a>
        <a href="https://feedback.fider.io/" class="navbar-item">Feedback</a>
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item"><i class="fab fa-github"></i>GitHub</a>
        <a class="navbar-item"><i class="fab fa-twitter"></i>Twitter</a>
        <a href="mailto:contact@fider.io" class="navbar-item"><i class="fas fa-at"></i>contact@fider.io</a>
      </div>
    </div>
  </div>
</footer>