<header>
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-2">
          <a href="/">
            <img class="logo" alt="logo" src="/images/logo-100x100.png">
            <span class="logo-title">Fider</span>
          </a>
        </div>
        <div class="col-6 col-md-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 hidden-xs">
          <div class="bar__module">
            <a href="/">
              <img class="logo" alt="logo" src="/images/logo-100x100.png">
              <span class="logo-title">Fider</span>
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 text-right text-left-xs">
          <div class="bar__module">
            <ul class="menu-horizontal">
              <li><a href="/blog">Blog</a></li>
              <li><a href="/docs">Docs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>