{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <span><img src="/images/logo-100x100.png" class="logo"/></span>
    <h1>{{ .Title }}</h1>
    <span>{{ .Description }}</span>
    <p>Let your customers share, vote and discuss on suggestions they have to make your product or company even better.</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://demo.fider.io">Try the demo</a>
    <a class="button outline big" href="#hosting">Get started</a>
    <p><!--Version 0.3.0 from July 1, 2017. <br/>--> Easy. Fast. Free.</p>

  </div>
  <!--
    <div class="message focus" data-component="message"> <span class="close small">
      We can help your company know more what your customers need
    </span></div>
  -->
  <div id="features" class="grid">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <i style="color: #41c4e4;" class="fa fa-comments fa-3x" aria-hidden="true"></i>
        </figure>
        <h4>Customer based feedback</h4>
        <p>Let your customers decide what you should work on. Use Fider to give voice to your community.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i style="color: green;" class="fa fa-hand-o-up fa-3x" aria-hidden="true"></i>
        </figure>
        <h3>One click log in</h3>
        <p>No forms. No hurdles. <br/> Just one click away from contributing! <br/> Social login via GitHub, Facebook and Google.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i style="color: #5c5cff;" class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
        </figure>
        <h3>Customer-First Experience</h3>
        <p>We believe that an easy to use and clean platform is the way to collect feedback faster.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <i style="color: orange;" class="fa fa-bolt fa-3x" aria-hidden="true"></i>
        </figure>
        <h3>Lightning fast</h3>
        <p>Because yes, performance is a feature. We think about performance in every aspect and take it very seriously. It makes users happier and servers healthier.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i style="color: #c30072;" class="fa fa-tags fa-3x" aria-hidden="true"></i>
        </figure>
        <h4>Organize the ideas</h4>
        <p>Hundreds of ideas require organization and you can do so by tagging ideas to make it easier to find, group and decide.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i style="color: #000;" class="fa fa-github fa-3x" aria-hidden="true"></i>
        </figure>
          <h4>Open Source</h4>
          <p>Our code is 100% Open Source. <br/>
            Visit <a href="https://github.com/getfider/fider">getfider/fider</a> on GitHub.</p>
      </div>
    </div>
  </div>

  <div id="hosting" class="grid"> 
    <h3>Are you ready to give it a try?</h3>
    <p>We got two hosting flavours available for you.</h3>

    <div class="hosting-grid">
      <div class="row gutters">
        <div class="col col-1 item"></div>
        <div class="col col-4 item">
          <figure>
            <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
          </figure>
          <h3>Hosted</h3>
          <p>
            Sit back and relax. Let us do the hard work. <br/> 
            Sign up now for free and get your own <br/>  <b>&lt;your-company&gt;.fider.io</b> site.
          </p>
          <a class="button default big" href="https://login.fider.io/signup">Sign up</a> 
        </div>
        <div class="col col-2 item"></div>
        <div class="col col-4 item">
          <figure>
            <i class="fa fa-server fa-3x" aria-hidden="true"></i>
          </figure>
          <h3>On-Premise</h3>
          <p>Take total control over your instance and data. Download Fider and host it in your own servers.</p>
          <a class="button positive big" href="/docs/hosting-instance">Learn how</a>
        </div>
        <div class="col col-1 item"></div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}