{{ define "title"}}
Collect and prioritize product feedback
{{ end }}

{{ define "header"}}
{{ partial "primary-header.html" . }}
{{ end }}

{{ define "footer"}}
{{ partial "primary-footer.html" . }}
{{ end }}

{{ define "main"}}
<main>
  <div class="container">
    <div class="hero welcome">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child col-text">
            <h1 class="title">Product Feedback</h1>
            <h2 class="subtitle">Fider can help you collect and prioritize product feedback so that you can focus on building the right product.</h2>
            <div class="buttons">
              <a href="#pricing" class="button is-primary">
                <strong>Get Started</strong>
              </a>
              <a href="https://feedback.fider.io" target="_blank" class="button is-light">
                <strong>See it in action</strong>
              </a>
            </div>
          </article>
          <article class="tile is-child col-illustration">
            <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/brainstorming_49d4.svg"/>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child col-image">
            <div class="browser-mockup">
              <img class="screenshot" src="/images/fider001.png">
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          How Fider works
        </h1>
        <h2 class="subtitle">
          Three simple steps to understand the workflow
        </h2>
      </div>
    </div>
  </section>

  <div class="container how-it-works">
    <div class="columns">
      <div class="column">
        <div class="box">
          <span class="step">1</span>
          <span class="text">
            <strong>Setup</strong>
            Create a new feedback site for your product. Customize it with your own logo, colors and text.
          </span> 
        </div>
      </div>
      <div class="column">
        <div class="box">
          <span class="step">2</span> 
          <span class="text">
            <strong>Collect</strong>
            Invite your customers to your new Fider site. They'll be able to suggest new ideas, submit feature requests or report issues they have with your product.
          </span> 
        </div>
      </div>
      <div class="column">
        <div class="box">
          <span class="step">3</span> 
          <span class="text">
            <strong>Deliver</strong>
            Keep your customers in the loop by responding to their suggestions. Customers will be notified of any new action on their topics of interest.
          </span> 
        </div>
      </div>
    </div>
  </div>

  <section class="section features">
    <div class="container">
      <h1 class="title">Features</h1>
      <h2 class="subtitle">
        What's included?
      </h2>
      <div class="columns">
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>
            <span class="title">Share ideas, vote and discuss</span>
            <span class="text">Give voice to your community, get valuable suggestions and prioritize what they need the most.</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-bullhorn"></i>
            </span>
            <span class="title">Keep everyone informed</span>
            <span class="text">Whenever you start, complete or decline a suggestion, Fider will notify everyone that subscribed to that topic.</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-at"></i>
            </span>
            <span class="title">One click sign in</span>
            <span class="text">Visitores are only one click away from contributing! Sign in via Facebook, Google, GitHub, Azure AD, Twitch, Discord or any other OAuth2 provider.</span>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-fingerprint"></i>
            </span>
            <span class="title">Private Site</span>
            <span class="text">You can choose to control access to your site by making it Private.</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-palette"></i>
            </span>
            <span class="title">Your Brand</span>
            <span class="text">Leverage our powerful custom CSS feature to style Fider the way you want. Your logo, your colors, your identity.</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-code"></i>
            </span>
            <span class="title">Public API</span>
            <span class="text">Leverage our complete API and have total control to integrate Fider into your process.</span>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-tags"></i>
            </span>
            <span class="title">Organize your content</span>
            <span class="text">Tag your content to make it easier to find, group and decide. Tags can be either Public or Private.</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fas fa-shield-alt"></i>
            </span>
            <span class="title">Your own domain</span>
            <span class="text">When using our hosted service, you can use your own domain and get a free TLS certificate to keep it secure.</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span class="title">Open Source</span>
            <span class="text">Our code is 100% Open Source. Visit <a href="https://github.com/getfider/fider">getfider/fider</a> on GitHub.</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="pricing">
    <div class="container">
      <h1 class="title">Get Feedback. Get Fider.</h1>
      <h2 class="subtitle">
        Are you ready to give it try?
      </h2>
    </div>
  </section>

  <div class="container pricing-table" onclick="" >
    <div class="columns">
      <div class="column is-one-third-desktop which">
        <h2>Which is right for you?</h2>
        <p>Fider is open source and it will always be free, but we also know that time is more valuable than money.</p>
        <p>Our cloud service provides affordable hosting packages where we take care of the hosting, availability and all of the maintenance and upgrades, plus you get priority support for any issues that might come up.</p>
        <p><span class="plan">Starter</span> is a low cost plan to help you to get started with collecting feedback and getting to know our platform.</p>
        <p>Once you grown and are happy with our service, you can then upgrade to the <span class="plan">Business</span> plan and enjoy the same set of features with unlimited users!</p>
        <p>With the <span class="plan">Self-Hosted</span> you can take total control over your data, but requires time and knowledge to host and maintain Fider within your own servers.</p>
        <p><strong><a href="mailto:contact@fider.io">Send us an email</a></strong> with any questions!</p>
      </div>
      <div class="column is-two-thirds-desktop">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Self-Hosted</th>
              <th>Starter</th>
              <th>Business</th>
            </tr>
          </thead>
          <tbody>
            <tr class="price">
              <td><span class="h2"><strong>Price</strong></span></td>
              <td>
                <span class="responsive-th">Self-Hosted: </span>
                <span class="h2"><strong>FREE</strong></span>
              </td>
              <td>
                <span class="responsive-th">Starter: </span>
                <span class="h2">
                  <strong class="strikeout"><span class="currency">$</span>9</strong>
                  <span class="month">/mo</span><span class="star"> *</span>
                </span>
              </td>
              <td>
                <span class="responsive-th">Business: </span>
                <span class="h2">
                  <strong class="strikeout"><span class="currency">$</span>39</strong>
                  <span class="month">/mo</span><span class="star"> *</span>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span onclick="" class="explain">
                  Max Tracked Users <i class="fas fa-info-circle"></i>
                  <span class="tooltip">Anyone that submit a post, vote or a comment on your feedback site</span>
                </span>
              </td>
              <td><span class="responsive-th">Self-Hosted: </span>Unlimited</td>
              <td><span class="responsive-th">Starter: </span>200</td>
              <td><span class="responsive-th">Business: </span>Unlimited</td>
            </tr>
            <tr>
              <td>
                <span onclick="" class="explain">
                  Max Posts <i class="fas fa-info-circle"></i>
                  <span class="tooltip">Any feature requests, bug reports, suggestions, etc</span>
                </span>
              </td>
              <td><span class="responsive-th">Self-Hosted: </span>Unlimited</td>
              <td><span class="responsive-th">Starter: </span>Unlimited</td>
              <td><span class="responsive-th">Business: </span>Unlimited</td>
            </tr>
            <tr>
              <td>Feedback Site</td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>
                <span onclick="" class="explain">
                  Private Site <i class="fas fa-info-circle"></i>
                  <span class="tooltip">When enabled, only invites users are able to view and submit feedback</span>
                </span>
              </td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>
                <div onclick="" class="explain">
                  Custom Domain <i class="fas fa-info-circle"></i>
                  <span class="tooltip">Use your own domain or our free subdomain on *.fider.io</span>
                </span>
              </td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>Custom CSS/Branding</td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>All Features Included</td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>Global CDN</td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-times-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>Priority Support</td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-times-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>Hosting</td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-times-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
            <tr>
              <td>Automatic Upgrades</td>
              <td><span class="responsive-th">Self-Hosted: </span><i class="far fa-times-circle"></td>
              <td><span class="responsive-th">Starter: </span><i class="far fa-check-circle"></td>
              <td><span class="responsive-th">Business: </span><i class="far fa-check-circle"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td>
                  <span class="responsive-th">Self-Hosted: </span>
                  <a class="button is-light" href="/docs/hosting-instance">
                    Learn how
                  </a>
              </td>
              <td>
                  <span class="responsive-th">Starter: </span>
                <a class="button is-primary" href="https://login.fider.io/signup">
                  Sign up
                </a>
              </td>
              <td>
                <span class="responsive-th">Business: </span>
                <a class="button is-primary" href="https://login.fider.io/signup">
                  Sign up
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <span class="info">* free during our open trial period. Enjoy it! 😊</span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</main>
{{ end }}