{{ define "title"}} {{ .Title }} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1>{{ .Params.Header }}</h1>
    <span>{{ .Description }}</span>
    <p>Let your customers share, vote and discuss on suggestions they have to make your product or company even better.</p>
  </div>

  <div id="action-buttons">
    <a class="button primary big" href="https://feedback.fider.io">See it in action</a>
    <a class="button outline big" href="#hosting">Get started</a>
  </div>
  
  <div id="features" class="grid">
    <h2>Features</h2>

    <div class="row align-middle">
      <div class="col col-4 text">
        <h3>Share ideas, vote and discuss</h3>
        <p>Let your customers decide what you should work on. Use Fider to give voice to your community.</p>
      </div>
      <div class="col col-8">
        <img src="/images/features/feature1.png" />
      </div>
    </div>
    
    <div class="row align-middle">
      <div class="col col-4 text">
        <h3>Keep everyone informed</h3>
        <p>Whenever you decide to start, complete or decline an idea, send an update on Fider so that everyone is aware of what's going on. </p>
      </div>
      <div class="col col-8">
        <img src="/images/features/feature5.png" />
      </div>
    </div>

    <div class="row align-middle">
      <div class="col col-4 text">
        <h3>One click sign in</h3>
        <p>No forms. No hurdles. <br/> Just one click away from contributing! <br/> Social login via GitHub, Facebook and Google.</p>
      </div>
      <div class="col col-8">
        <img src="/images/features/feature2.png" />
      </div>
    </div>

    <div class="row align-middle">
      <div class="col col-4 text">
        <h3>Organize your content</h3>
        <p>Hundreds of ideas require organization and you can do so by tagging them to make it easier to find, group and decide.</p>
        <p>Each tag can be either <strong>Public</strong> or <strong>Private</strong>.</p>
      </div>
      <div class="col col-8">
        <img src="/images/features/feature3.gif" />
      </div>
    </div>
    
    <div class="row align-middle">
      <div class="col col-4 text">
        <h3>Your own domain, secure</h3>
        <p>When using our hosted service, you can use your own domain and get a free TLS certificate to help keep it secure.</p>
      </div>
      <div class="col col-8">
        <img src="/images/features/feature4.png" />
      </div>
    </div>
    
    <div class="row align-middle">
      <div class="col col-3">
        <figure>
          <i style="color: orange;" class="fa fa-bolt fa-3x" aria-hidden="true"></i>
        </figure>
        <h3>Lightning fast</h3>
        <p>Performance is a feature and we take every aspect of it very seriously. Happier visitors. Healthier servers.</p>
      </div>
      <div class="col col-1"></div>
      <div class="col col-4">
        <figure>
          <i style="color: rgb(231, 68, 62);" class="fa fa-heart fa-3x" aria-hidden="true"></i>
        </figure>
        <h4>Customer-First Experience</h4>
        <p>We believe that an easy to use and clean platform is the way to collect better feedback.</p>
      </div>
      <div class="col col-1"></div>
      <div class="col col-3">
        <figure>
          <i style="color: #000;" class="fa fa-github fa-3x" aria-hidden="true"></i>
        </figure>
        <h4>Open Source</h4>
        <p>Our code is 100% Open Source. <br/> Visit <a href="https://github.com/getfider/fider">getfider/fider</a> on GitHub.</p>
      </div>
    </div>
  </div>

  <div id="hosting" class="grid"> 
    <h2>Let's get you started with Fider</h2>

    <div class="hosting-grid">
      <div class="row gutters">
        <div class="col col-2 item"></div>

        <div class="col col-4 item">
          <div class="option selfhosted-option">
            <div class="header">
              <img src="/images/selfhosted-icon.png" alt="Self-Hosted" />
              <h3>Self-Hosted</h3>
            </div>
            <p class="description">Take total control over your instance and data. Download Fider and install on your own servers.</p>
            <span class="price">Free</span>
            <span class="price-notes">Free forever. Really!</span>
            <a class="button positive big" href="/docs/hosting-instance">Learn how</a>
          </div>
        </div>

        <div class="col col-4 item">
          <div class="option cloud-option">
            <div class="header">
              <img src="/images/cloud-icon.png" alt="Cloud" />
              <h3>Cloud</h3>
            </div>
            <p class="description">
                Sit back and relax. Let us do the hard work.
                Sign up now and start using it in less than 60 seconds.
            </p>
            <span class="price">$0 <span class="beta">/mo *</span></span>
            <span class="price-notes">* free during our public beta.</span>
            <a class="button default big" href="https://login.fider.io/signup">Sign up</a>
          </div>
        </div>

        <div class="col col-2 item"></div>
      </div>

    </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}